@model List<RAMWebUI.Models.TaskItemVM>;
@{
    ViewData["Title"] = "HomeHome";
}

<div class="col-4">

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
